
/* swiper js css */
.swiper {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    font-size: 18px;
    
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swiper {
    margin-left: auto;
    margin-right: auto;
  }


  /* custom style */
  .testimonial-bg{
    background: linear-gradient(to bottom right, rgba(52, 80, 190, 0.703), rgb(3, 31, 143)), url(https://i.ibb.co/WD0WHCh/testimonial-bg.jpg);
    background-blend-mode: multiply;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding:  100px 0px;
  }


  /* launch date section style */
  .launch-sec{
    background: linear-gradient(to bottom right, rgba(88, 109, 191, 0.606), rgba(63, 84, 166, 0.637)), url(https://i.ibb.co/SdvQJMd/pexels-emma-bauso-2253879-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }