@tailwind base;
@tailwind components;
@tailwind utilities;


.we-are-sec{
    background: url('https://i.ibb.co/M1b3nQw/class-bg.jpg'), rgba(8, 8, 8, 0.478);
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
